*{
    padding: 0px;
    margin: 0px;
}

body{
    padding-top: 100px;
    background-color: rgb(101, 18, 197);
}

section{
    background-color: white;
    margin: 10px;
    padding: 10px;
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
}

main h1{
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

main p{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

#btn{
    margin: auto;
    display: block;
    padding: 3px 40px 3px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(101, 18, 197);
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(101, 18, 197);
    transition: all 0.3s;
    border-radius: 10px;
}

#btn:hover{
    cursor: pointer;
    background-color: rgb(101, 18, 197);
    color: white;
    transition: all 0.3s;
}

